if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SP_CC_INSERT]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SP_CC_INSERT]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE SP_CC_INSERT
AS
BEGIN -- BEGIN PROCEDURE
	TRUNCATE TABLE CC_MASTER

	INSERT INTO CC_MASTER (AREA_CODE, FACTORY_CODE, CC_CODE, CC_NAME)
	SELECT AREACODE, DIVISIONCODE, DEPTCODE, DEPTNAME
	FROM IPIS.DBO.TMSTDEPT
	WHERE AREACODE='D'  AND DIVISIONCODE='A'  AND CONVERT(VARCHAR(10), GETDATE(), 102) BETWEEN APPLYFROM AND APPLYTO

	INSERT INTO CC_MASTER (AREA_CODE, FACTORY_CODE, CC_CODE, CC_NAME)
	SELECT AREACODE, DIVISIONCODE, DEPTCODE, DEPTNAME
	FROM IPIS.DBO.TMSTDEPT
	WHERE AREACODE='X'  AND DIVISIONCODE='X'  AND CONVERT(VARCHAR(10), GETDATE(), 102) BETWEEN APPLYFROM AND APPLYTO	

END -- END PROCEDURE
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

