if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SP_EQUIP_COUNT]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SP_EQUIP_COUNT]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


CREATE PROCEDURE SP_EQUIP_COUNT
AS
BEGIN

DECLARE @EQUIP_COUNT FLOAT

IF EXISTS(SELECT 1 FROM [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='A')
	BEGIN
		SELECT @EQUIP_COUNT=COUNT(EQUIP_CODE) FROM [IPISELE_SVR\IPIS].CMMS.DBO.EQUIP_MASTER WHERE AREA_CODE='D' AND FACTORY_CODE='A' and equip_div_code='1'
		UPDATE [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT SET EQUIP_COUNT=@EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='A'
	END
ELSE
	BEGIN
		INSERT INTO [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT(AREA_CODE, FACTORY_CODE,  EQUIP_COUNT)
		SELECT AREA_CODE = 'D', 
		FACTORY_CODE ='A',
		EQUIP_COUNT = COUNT(EQUIP_CODE)
		FROM [IPISELE_SVR\IPIS].CMMS.DBO.EQUIP_MASTER  A
		WHERE AREA_CODE='D' AND FACTORY_CODE='A' and equip_div_code='1'
	END


IF EXISTS(SELECT 1 FROM [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='S')
	BEGIN
		SELECT @EQUIP_COUNT=COUNT(EQUIP_CODE) FROM [IPISMAC_SVR\IPIS].CMMS.DBO.EQUIP_MASTER WHERE AREA_CODE='D' AND FACTORY_CODE='S' and equip_div_code='1'
		UPDATE [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT SET EQUIP_COUNT=@EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='S'
	END
ELSE
	BEGIN
		INSERT INTO [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT(AREA_CODE, FACTORY_CODE,  EQUIP_COUNT)
		SELECT AREA_CODE = 'D', 
		FACTORY_CODE= 'S',
		EQUIP_COUNT = COUNT(EQUIP_CODE)
		FROM [IPISMAC_SVR\IPIS].CMMS.DBO.EQUIP_MASTER  A
		WHERE AREA_CODE='D' AND FACTORY_CODE='S' and equip_div_code='1'
	END

IF EXISTS(SELECT 1 FROM [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='M')
	BEGIN
		SELECT @EQUIP_COUNT=COUNT(EQUIP_CODE) FROM [IPISMAC_SVR\IPIS].CMMS.DBO.EQUIP_MASTER WHERE AREA_CODE='D' AND FACTORY_CODE='M' and equip_div_code='1'
		UPDATE [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT SET EQUIP_COUNT=@EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='M'
	END
ELSE
	BEGIN	
		INSERT INTO [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT(AREA_CODE, FACTORY_CODE,  EQUIP_COUNT)
		SELECT AREA_CODE='D', 
		FACTORY_CODE='M',
		EQUIP_COUNT = COUNT(EQUIP_CODE)
		FROM [IPISMAC_SVR\IPIS].CMMS.DBO.EQUIP_MASTER  A
		WHERE AREA_CODE='D' AND FACTORY_CODE='M' and equip_div_code='1'
	END

IF EXISTS(SELECT 1 FROM [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='V')
	BEGIN
		SELECT @EQUIP_COUNT=COUNT(EQUIP_CODE) FROM [IPISHVAC_SVR\IPIS].CMMS.DBO.EQUIP_MASTER WHERE AREA_CODE='D' AND FACTORY_CODE='V' and equip_div_code='1'
		UPDATE [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT SET EQUIP_COUNT=@EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='V'
	END
ELSE
	BEGIN	
		INSERT INTO [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT(AREA_CODE, FACTORY_CODE,  EQUIP_COUNT)
		SELECT AREA_CODE='D', 
		FACTORY_CODE='V',
		EQUIP_COUNT = COUNT(EQUIP_CODE)
		FROM [IPISHVAC_SVR\IPIS].CMMS.DBO.EQUIP_MASTER  A
		WHERE AREA_CODE='D' AND FACTORY_CODE='V' and equip_div_code='1'
	END

IF EXISTS(SELECT 1 FROM [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT WHERE AREA_CODE='D' AND FACTORY_CODE='H')
	BEGIN
		SELECT @EQUIP_COUNT=COUNT(EQUIP_CODE) FROM [IPISHVAC_SVR\IPIS].CMMS.DBO.EQUIP_MASTER WHERE AREA_CODE='D' AND FACTORY_CODE='H' and equip_div_code='1'
		UPDATE [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT SET EQUIP_COUNT=@EQUIP_COUNT  WHERE AREA_CODE='D' AND FACTORY_CODE='H'
	END
ELSE
	BEGIN	
		INSERT INTO [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT(AREA_CODE, FACTORY_CODE,  EQUIP_COUNT)
		SELECT AREA_CODE='D', 
		FACTORY_CODE='H',
		EQUIP_COUNT = COUNT(EQUIP_CODE)
		FROM [IPISHVAC_SVR\IPIS].CMMS.DBO.EQUIP_MASTER  A
		WHERE AREA_CODE='D' AND FACTORY_CODE='H' and equip_div_code='1'
	END

IF EXISTS(SELECT 1 FROM [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT WHERE AREA_CODE='J' AND FACTORY_CODE='M')
	BEGIN
		SELECT @EQUIP_COUNT=COUNT(EQUIP_CODE) FROM IPISJIN_SVR.CMMS.DBO.EQUIP_MASTER WHERE AREA_CODE='J' AND FACTORY_CODE='M' and equip_div_code='1'
		UPDATE [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT SET EQUIP_COUNT=@EQUIP_COUNT WHERE AREA_CODE='J' AND FACTORY_CODE='M'
	END
ELSE
	BEGIN	
		INSERT INTO [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT(AREA_CODE, FACTORY_CODE,  EQUIP_COUNT)
		SELECT AREA_CODE='J', 
		FACTORY_CODE='M',
		EQUIP_COUNT = COUNT(EQUIP_CODE)
		FROM IPISJIN_SVR.CMMS.DBO.EQUIP_MASTER  A
		WHERE AREA_CODE='J' AND FACTORY_CODE='M' and equip_div_code='1'
	END

IF EXISTS(SELECT 1 FROM [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT WHERE AREA_CODE='J' AND FACTORY_CODE='S')
	BEGIN
		SELECT @EQUIP_COUNT=COUNT(EQUIP_CODE) FROM IPISJIN_SVR.CMMS.DBO.EQUIP_MASTER WHERE AREA_CODE='J' AND FACTORY_CODE='S' and equip_div_code='1'
		UPDATE [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT SET EQUIP_COUNT=@EQUIP_COUNT WHERE AREA_CODE='J' AND FACTORY_CODE='S'
	END
ELSE
	BEGIN	
		INSERT INTO [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT(AREA_CODE, FACTORY_CODE,  EQUIP_COUNT)
		SELECT AREA_CODE='J', 
		FACTORY_CODE='S',
		EQUIP_COUNT = COUNT(EQUIP_CODE)
		FROM IPISJIN_SVR.CMMS.DBO.EQUIP_MASTER  A
		WHERE AREA_CODE='J' AND FACTORY_CODE='S' and equip_div_code='1'
	END

IF EXISTS(SELECT 1 FROM [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT WHERE AREA_CODE='J' AND FACTORY_CODE='H')
	BEGIN
		SELECT @EQUIP_COUNT=COUNT(EQUIP_CODE) FROM IPISJIN_SVR.CMMS.DBO.EQUIP_MASTER WHERE AREA_CODE='J' AND FACTORY_CODE='H' and equip_div_code='1'
		UPDATE [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT SET EQUIP_COUNT=@EQUIP_COUNT WHERE AREA_CODE='J' AND FACTORY_CODE='H'
	END
ELSE
	BEGIN	
		INSERT INTO [IPISELE_SVR\IPIS].EIS.DBO.CMMS_EQUIP_COUNT(AREA_CODE, FACTORY_CODE,  EQUIP_COUNT)
		SELECT AREA_CODE='J', 
		FACTORY_CODE='H',
		EQUIP_COUNT = COUNT(EQUIP_CODE)
		FROM IPISJIN_SVR.CMMS.DBO.EQUIP_MASTER  A
		WHERE AREA_CODE='J' AND FACTORY_CODE='H' and equip_div_code='1'
	END
end -- procedure end
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

