if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SP_TASK_CLOSE_AUTO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SP_TASK_CLOSE_AUTO]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE SP_TASK_CLOSE_AUTO
AS
BEGIN
DECLARE @sTASKNO 	varchar(30)
SELECT TASK_CODE
  INTO #TTASK_GEN
  FROM TASK
 WHERE (STATUS_CODE = '완료')
DECLARE CURSOR_TASK_GEN CURSOR
    FOR SELECT TASK_CODE FROM #TTASK_GEN
OPEN CURSOR_TASK_GEN
FETCH NEXT FROM CURSOR_TASK_GEN INTO @sTASKNO
WHILE (@@FETCH_STATUS <> -1)
begin
	if (@@FETCH_STATUS <> -2)
	begin
		BEGIN TRAN
		INSERT INTO TASK_HIST 
		SELECT *
		from TASK
		where TASK_CODE= @sTASKNO
		DELETE TASK where TASK_CODE= @sTASKNO
		COMMIT TRAN
	END
	
	FETCH NEXT FROM CURSOR_TASK_GEN INTO @sTASKNO
END
END
DEALLOCATE CURSOR_TASK_GEN

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

