if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SP_TASK_CLOSE]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SP_TASK_CLOSE]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE SP_TASK_CLOSE
@LS_TASK_CODE VARCHAR(30)
AS
BEGIN
BEGIN TRAN
INSERT INTO TASK_HIST 
	SELECT *
	from TASK
	where TASK_CODE=@LS_TASK_CODE
DELETE TASK where TASK_CODE=@LS_TASK_CODE
COMMIT TRAN
select @@ROWCOUNT
END

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

