if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SP_WO_CLOSE_AUTO]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SP_WO_CLOSE_AUTO]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE SP_WO_CLOSE_AUTO
AS
BEGIN
DECLARE @sWONO 	varchar(30)
SELECT WO_CODE
  INTO #WO_GEN
  FROM WO
 WHERE (WO_STATE_CODE = '완료')
DECLARE CURSOR_WO_GEN CURSOR
    FOR SELECT WO_CODE FROM #WO_GEN
OPEN CURSOR_WO_GEN
FETCH NEXT FROM CURSOR_WO_GEN INTO @sWONO
WHILE (@@FETCH_STATUS <> -1)
begin
	if (@@FETCH_STATUS <> -2)
	begin
		BEGIN TRAN
		INSERT INTO WO_HIST 
		SELECT *
		from WO
		where WO_CODE=@sWONO
		DELETE WO where WO_CODE=@sWONO
		COMMIT TRAN
	END
	
	FETCH NEXT FROM CURSOR_WO_GEN INTO @sWONO
END
END
DEALLOCATE CURSOR_WO_GEN

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

