SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS OFF
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_pism250i_03]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_pism250i_03]
GO


/************************************************/
/*     사업계획용 완제품 단위당 세부내역 표준 및 실투입MH조회     */
/*   exec sp_pism250i_03 'D','A','2013','0A' */
/************************************************/

CREATE PROCEDURE sp_pism250i_03
  @ps_AreaCode Char(1),
  @ps_DivisionCode Char(1),
  @ps_xyear	Char(4),
	@ps_revno Char(2)
  

AS
BEGIN

SELECT B.ZPLANT,
  B.ZDIV,
  B.ZMDNO,
  ( Select ItemClass From TMSTMODEL WHERE AreaCode = B.ZPLANT AND DivisionCode = B.ZDIV AND ItemCode = B.ZMDNO ) ItemClass,
  B.ZLEVEL,
  E.ProductGroup,
  F.ProductGroupName,
  E.ModelGroup,
  ( Select ModelGroupName From TMSTMODELGROUP
    Where ( Areacode = B.ZPLANT ) And
    ( DivisionCode = B.ZDIV ) And
    ( ProductGroup = E.ProductGroup ) And
    ( ModelGroup = E.ModelGroup ) ) ModelGroupName,
  B.ZITNO,
  B.ZDESC,
  B.ZWHLCODE,
  B.ZSRCE,
  B.WORKCENTER,
  ( SELECT DEPTNAME4 FROM TMSTDEPT WHERE DEPTCODE = B.WORKCENTER ) AS WORKCENTERNAME,
  B.SUBLINECODE,
  B.SUBLINENO,
  CASE WHEN G.ZPLANT IN ('B','K','Y') THEN 0 ELSE G.ZSTDIN END AS STDIN,
  CASE WHEN G.ZPLANT IN ('B','K','Y') THEN G.ZSTDIN ELSE G.ZSTDOUT END AS STDOUT,
  CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS CSTDIN,
  CASE WHEN B.ZPLANT IN ('B','K','Y') THEN B.STDIN ELSE B.STDOUT END AS CSTDOUT,
  B.ZUNITQTY,
  TMPM.QTY1 AS MQTY1,
  TMPM.QTY2 AS MQTY2,
  TMPM.QTY3 AS MQTY3,
  TMPM.QTY4 AS MQTY4,
  TMPM.QTY5 AS MQTY5,
  TMPM.QTY6 AS MQTY6,
  TMPM.QTY7 AS MQTY7,
  TMPM.QTY8 AS MQTY8,
  TMPM.QTY9 AS MQTY9,
  TMPM.QTY10 AS MQTY10,
  TMPM.QTY11 AS MQTY11,
  TMPM.QTY12 AS MQTY12,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY1 + ISNULL(TMPC.QTY1,0) ELSE ISNULL(TMPC.QTY1,0) END AS CQTY1,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY2 + ISNULL(TMPC.QTY2,0) ELSE ISNULL(TMPC.QTY2,0) END AS CQTY2,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY3 + ISNULL(TMPC.QTY3,0) ELSE ISNULL(TMPC.QTY3,0) END AS CQTY3,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY4 + ISNULL(TMPC.QTY4,0) ELSE ISNULL(TMPC.QTY4,0) END AS CQTY4,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY5 + ISNULL(TMPC.QTY5,0) ELSE ISNULL(TMPC.QTY5,0) END AS CQTY5,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY6 + ISNULL(TMPC.QTY6,0) ELSE ISNULL(TMPC.QTY6,0) END AS CQTY6,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY7 + ISNULL(TMPC.QTY7,0) ELSE ISNULL(TMPC.QTY7,0) END AS CQTY7,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY8 + ISNULL(TMPC.QTY8,0) ELSE ISNULL(TMPC.QTY8,0) END AS CQTY8,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY9 + ISNULL(TMPC.QTY9,0) ELSE ISNULL(TMPC.QTY9,0) END AS CQTY9,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY10 + ISNULL(TMPC.QTY10,0) ELSE ISNULL(TMPC.QTY10,0) END AS CQTY10,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY11 + ISNULL(TMPC.QTY11,0) ELSE ISNULL(TMPC.QTY11,0) END AS CQTY11,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY12 + ISNULL(TMPC.QTY12,0) ELSE ISNULL(TMPC.QTY12,0) END AS CQTY12,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY1 + ISNULL(TMPC.QTY1,0) ELSE ISNULL(TMPC.QTY1,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN1,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY2 + ISNULL(TMPC.QTY2,0) ELSE ISNULL(TMPC.QTY2,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN2,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY3 + ISNULL(TMPC.QTY3,0) ELSE ISNULL(TMPC.QTY3,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN3,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY4 + ISNULL(TMPC.QTY4,0) ELSE ISNULL(TMPC.QTY4,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN4,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY5 + ISNULL(TMPC.QTY5,0) ELSE ISNULL(TMPC.QTY5,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN5,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY6 + ISNULL(TMPC.QTY6,0) ELSE ISNULL(TMPC.QTY6,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN6,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY7 + ISNULL(TMPC.QTY7,0) ELSE ISNULL(TMPC.QTY7,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN7,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY8 + ISNULL(TMPC.QTY8,0) ELSE ISNULL(TMPC.QTY8,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN8,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY9 + ISNULL(TMPC.QTY9,0) ELSE ISNULL(TMPC.QTY9,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN9,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY10 + ISNULL(TMPC.QTY10,0) ELSE ISNULL(TMPC.QTY10,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN10,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY11 + ISNULL(TMPC.QTY11,0) ELSE ISNULL(TMPC.QTY11,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN11,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY12 + ISNULL(TMPC.QTY12,0) ELSE ISNULL(TMPC.QTY12,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDIN END AS SIN12,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY1 + ISNULL(TMPC.QTY1,0) ELSE ISNULL(TMPC.QTY1,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT1,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY2 + ISNULL(TMPC.QTY2,0) ELSE ISNULL(TMPC.QTY2,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT2,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY3 + ISNULL(TMPC.QTY3,0) ELSE ISNULL(TMPC.QTY3,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT3,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY4 + ISNULL(TMPC.QTY4,0) ELSE ISNULL(TMPC.QTY4,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT4,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY5 + ISNULL(TMPC.QTY5,0) ELSE ISNULL(TMPC.QTY5,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT5,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY6 + ISNULL(TMPC.QTY6,0) ELSE ISNULL(TMPC.QTY6,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT6,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY7 + ISNULL(TMPC.QTY7,0) ELSE ISNULL(TMPC.QTY7,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT7,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY8 + ISNULL(TMPC.QTY8,0) ELSE ISNULL(TMPC.QTY8,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT8,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY9 + ISNULL(TMPC.QTY9,0) ELSE ISNULL(TMPC.QTY9,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT9,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY10 + ISNULL(TMPC.QTY10,0) ELSE ISNULL(TMPC.QTY10,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT10,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY11 + ISNULL(TMPC.QTY11,0) ELSE ISNULL(TMPC.QTY11,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT11,
  CASE WHEN B.ZMDNO = B.ZITNO THEN TMPM.QTY12 + ISNULL(TMPC.QTY12,0) ELSE ISNULL(TMPC.QTY12,0) END * CASE WHEN B.ZPLANT IN ('B','K','Y') THEN 0 ELSE B.STDOUT END AS SOUT12
FROM ( SELECT A.ZCMCD AS ZCMCD, A.XYEAR AS XYEAR, A.REVNO AS REVNO, A.ZPLANT AS ZPLANT, A.ZDIV AS ZDIV, 
    A.ZMDNO AS ZMDNO, A.ZITNO AS ZITNO, A.ZLEVEL AS ZLEVEL, A.ZDESC AS ZDESC,
    (A.ZUNITQTY * A.ZCUMORATE) AS ZUNITQTY,A.ZSERIAL AS ZSERIAL,A.ZWHLCODE AS ZWHLCODE,
    A.ZSRCE AS ZSRCE,A.ZGRAD AS ZGRAD,
    B.WORKCENTER AS WORKCENTER,
    B.SUBLINECODE AS SUBLINECODE, 
    B.SUBCNT AS SUBLINENO,
  CAST(( A.ZUNITQTY * CASE WHEN A.ZWHLCODE = '50' OR ( A.ZSERIAL <> 1 AND ISNULL(C.RITNO,'N') <> 'N' ) 
    THEN 0 ELSE ISNULL(B.AVGSTDSUM,0) * A.ZCUMORATE END ) AS DECIMAL(15,6)) STDIN,
  CAST(( A.ZUNITQTY * CASE WHEN A.ZWHLCODE <> '50' OR ( A.ZSERIAL <> 1 AND ISNULL(C.RITNO,'N') <> 'N' ) 
    THEN 0 ELSE ISNULL(B.AVGSTDSUM,0) * A.ZCUMORATE END ) AS DECIMAL(15,6)) STDOUT,
  CAST(( A.ZUNITQTY * CASE WHEN A.ZWHLCODE = '50' OR ( A.ZSERIAL <> 1 AND ISNULL(C.RITNO,'N') <> 'N' ) 
    THEN 0 ELSE ISNULL(B.AVGACTSUM,0) * A.ZCUMORATE END ) AS DECIMAL(15,6)) ACTIN,
  CAST(( A.ZUNITQTY * CASE WHEN A.ZWHLCODE <> '50' OR ( A.ZSERIAL <> 1 AND ISNULL(C.RITNO,'N') <> 'N' ) 
    THEN 0 ELSE ISNULL(B.AVGACTSUM,0) * A.ZCUMORATE END ) AS DECIMAL(15,6)) ACTOUT,
  CAST(( A.ZUNITQTY * CASE WHEN ( A.ZSERIAL <> 1 AND ISNULL(C.RITNO,'N') <> 'N' ) 
    THEN 0 ELSE ISNULL(B.AVGPOWERSUM,0 * A.ZCUMORATE) END ) AS DECIMAL(15,6)) BASEPOWER,
  CAST(( A.ZUNITQTY * CASE WHEN ( A.ZSERIAL <> 1 AND ISNULL(C.RITNO,'N') <> 'N' ) 
    THEN 0 ELSE ISNULL(B.AVGMACTIMESUM,0) * A.ZCUMORATE END ) AS DECIMAL(15,6)) BASEMACTIME
  FROM TMHBASEBOMBPM A LEFT OUTER JOIN 
    ( SELECT ZCMCD, XYEAR, REVNO, AREACODE, DIVISIONCODE, ITEMCODE, WORKCENTER, SUBLINECODE, COUNT(*) AS SUBCNT,
     SUM(AVGSTDSUM) AS AVGSTDSUM,
     SUM(AVGACTSUM) AS AVGACTSUM,
     SUM(AVGPOWERSUM) AS AVGPOWERSUM,
     SUM(AVGMACTIMESUM) AS AVGMACTIMESUM
    FROM TMHBASEWORKCENTERBPM
    WHERE ZCMCD = '01' AND XYEAR = @ps_xyear AND REVNO = @ps_revno 
      AND AREACODE = @ps_AreaCode AND DIVISIONCODE = @ps_DivisionCode
    GROUP BY ZCMCD, XYEAR, REVNO, AREACODE, DIVISIONCODE, ITEMCODE, WORKCENTER, SUBLINECODE ) B
    ON A.ZCMCD = B.ZCMCD AND A.XYEAR = B.XYEAR AND A.REVNO = B.REVNO AND A.ZPLANT = B.AREACODE AND
      A.ZDIV = B.DIVISIONCODE AND ZITNO = B.ITEMCODE
    LEFT OUTER JOIN TMSTROUTINGSUB C
    ON B.ZCMCD = C.RCMCD AND B.AREACODE = C.RPLANT AND
      B.DIVISIONCODE = C.RDVSN AND B.ITEMCODE = C.RITNO
  WHERE A.ZCMCD = '01' AND A.XYEAR = @ps_xyear AND A.REVNO = @ps_revno 
    AND A.ZPLANT = @ps_AreaCode AND A.ZDIV = @ps_DivisionCode
    AND A.ZCUMORATE > 0 ) B
  LEFT OUTER JOIN TMSTITEM D
  ON ( B.ZMDNO = D.ItemCode )
  LEFT OUTER JOIN TMSTMODEL E
  ON ( B.ZPLANT = E.AreaCode ) And
   ( B.ZDIV = E.DivisionCode ) And
   ( B.ZMDNO = E.ItemCode )
  LEFT OUTER JOIN TMSTPRODUCTGROUP F
  ON ( E.AreaCode = F.AreaCode ) And
   ( E.DivisionCode = F.DivisionCode ) And
   ( E.ProductGroup = F.ProductGroup )
  LEFT OUTER JOIN TMHBASESUMMARYBPM G
  ON G.ZCMCD = B.ZCMCD AND G.ZPLANT = B.ZPLANT AND
	 G.ZDIV = B.ZDIV AND G.XYEAR = B.XYEAR AND 
	 G.REVNO = B.REVNO AND G.ZMDNO = B.ZMDNO
	-- 제품 출하수량
  LEFT OUTER JOIN (	
		SELECT A.COMLTD AS COMLTD,A.AYEAR AS AYEAR,A.AREV AS AREV,A.APLANT AS APLANT,
				A.ADIV AS ADIV,A.APDCD AS APDCD,A.AMDNO AS AMDNO,
				SUM(A.ASQTY1) AS QTY1,
				SUM(A.ASQTY2) AS QTY2, SUM(A.ASQTY3) AS QTY3, SUM(A.ASQTY4) AS QTY4, SUM(A.ASQTY5) AS QTY5,
				SUM(A.ASQTY6) AS QTY6, SUM(A.ASQTY7) AS QTY7, SUM(A.ASQTY8) AS QTY8, SUM(A.ASQTY9) AS QTY9,
				SUM(A.ASQTY10) AS QTY10, SUM(A.ASQTY11) AS QTY11, SUM(A.ASQTY12) AS QTY12 
			FROM TMHBPM501 A INNER JOIN TMHBPM515 B
			ON ( A.COMLTD = B.COMLTD ) and ( A.AYEAR = B.MYEAR ) and
				( A.AREV = B.MBREV ) and ( A.ACODE = B.MGUBUN ) and  
				( A.APLANT = B.MPLANT ) and ( A.ADIV = B.MDIV ) and  
				( A.APDCD = B.MMDCD ) and ( A.AMDNO = B.MMDNO ) and  
				( A.SEQGB = B.MSEQGB ) and ( B.MUSGE = 'D' )
			WHERE A.COMLTD = '01' AND A.AYEAR = @ps_xyear AND A.AREV = @ps_revno AND A.ACODE = 'A' AND A.SEQGB <> 'S' AND
					A.APLANT = @ps_AreaCode AND A.ADIV = @ps_DivisionCode
			GROUP BY A.COMLTD,A.AYEAR,A.AREV,A.APLANT,
				A.ADIV,A.APDCD,A.AMDNO ) TMPM
	ON B.ZCMCD = TMPM.COMLTD AND B.XYEAR = TMPM.AYEAR AND B.REVNO = TMPM.AREV AND B.ZPLANT = TMPM.APLANT AND
     B.ZDIV = TMPM.ADIV AND B.ZMDNO = TMPM.AMDNO
  -- 공정품 생산계획수량
  LEFT OUTER JOIN (	
		SELECT COMLTD AS COMLTD,XYEAR AS AYEAR,WREV AS AREV,WPLANT AS APLANT,
			WDVSN AS ADIV,WPDCD AS APDCD,WITNO AS AMDNO,
			SUM(WQTY1) AS QTY1,SUM(WQTY2) AS QTY2,SUM(WQTY3) AS QTY3,SUM(WQTY4) AS QTY4,SUM(WQTY5) AS QTY5,
			SUM(WQTY6) AS QTY6,SUM(WQTY7) AS QTY7,SUM(WQTY8) AS QTY8,SUM(WQTY9) AS QTY9,SUM(WQTY10) AS QTY10,
			SUM(WQTY11) AS QTY11,SUM(WQTY12) AS QTY12
		FROM TMHBPM516C
			WHERE COMLTD = '01' AND XYEAR = @ps_xyear AND WREV = @ps_revno AND 
				WGUBUN = 'A' AND WPLANT = @ps_AreaCode AND WDVSN = @ps_DivisionCode
			GROUP BY COMLTD,XYEAR,WREV,WPLANT,
			WDVSN,WPDCD,WITNO ) TMPC
	ON B.ZCMCD = TMPC.COMLTD AND B.XYEAR = TMPC.AYEAR AND B.REVNO = TMPC.AREV AND B.ZPLANT = TMPC.APLANT AND
     B.ZDIV = TMPC.ADIV AND B.ZITNO = TMPC.AMDNO
WHERE B.ZWHLCODE = '30' OR B.ZWHLCODE = '50' OR B.ZSRCE = '03'
ORDER By B.ZPLANT,
         B.ZDIV,
   B.ZMDNO,
   B.ZSERIAL

END


GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

